<br><h2 class="text-center">My Listings</h2> <br>



<% if @listings %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <ul class="nav nav-pills nav-justified">
          <li id="listings-available" role="presentation"><%= link_to 'Available', listings_path(option: 'available') %></li>
          <li id="listings-pending" role="presentation"><%= link_to 'Action Pending', listings_path(option: 'pending') %></li>
          <li id="listings-waiting" role="presentation"><%= link_to 'Waiting Delivery', listings_path(option: 'waiting') %></li>
          <li id="listings-rented" role="presentation"><%= link_to 'Rented', listings_path(option: 'rented') %></li>
          <li id="listings-finished" role="presentation"><%= link_to 'Finished', listings_path(option: 'finished') %></li>
        </ul>
        <% @listings.each do |listing| %>
          <div class="listing-line">
            <div class="listing-image">
              <%= cl_image_tag listing.furniture.photos.first.path, width: 250, height: 150, crop: :fill %>
            </div>
            <div class="listing-content text-center">
              <% listing.bookings.first.nil? ? status = "V" : status = listing.bookings.first.workflow_step %>
              <strong><%= listing.furniture.name %> </strong> <br>
              Category: <%= listing.furniture.category %><br>
              Base price: <%= listing.base_price %><br>
              <% if listing.bookings.first.nil? ==false %>
                Start date: <%= listing.bookings[0].start_date %><br>
                End Date:  <%= listing.bookings[0].end_date %><br>
              <% end %>
              Status: <%= Booking.text_wkf_step(status) %><br>
            </div>
            <div class="listing-actions text-center">
                <%= link_to "Show listing", listing_path(listing), class: "btn btn-default" %>
                <%= link_to "Edit", edit_listing_path(listing), class: "btn btn-default" if status == "V" %>
                <%  if status == "P" %>
                  <%= link_to "Edit", edit_listing_path(listing), class: "btn btn-default" %>
                  <%= link_to "Approve", approve_listing_path(listing), class: "btn btn-primary" %>
                  <%= link_to "Reject", reject_listing_path(listing), class: "btn btn-default", data: { confirm: "Are you sure?" }  %>
                <% end %>
                <%= link_to "Delivered", rent_listing_path(listing), class: "btn btn-primary" if status == "A"%>
                <%= link_to "Finish", finish_listing_path(listing), class: "btn btn-primary" if status == "T"%>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <h3>You don't have any listing on the site!</h3>
<% end %>
<br>



<% content_for(:after_js) do %>
  <%= javascript_tag do %>
  $('#listings-<%= "#{params[:option]}" %>').addClass('active');
  <% end %>
<% end %>
