<h1>My Listings</h1>
<% if @listings %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <% @listings.each do |listing| %>
          <div class="listing-line">
            <div class="listing-image">
              <%= cl_image_tag listing.furniture.photos.first.path, width: 250, height: 150, crop: :fill %>
            </div>
            <div class="listing-content text-center">
              <% listing.bookings.first.nil? ? status = "V" : status = listing.bookings.first.workflow_step %>
              <strong><%= listing.furniture.name %> </strong> <br>
              Category: <%= listing.furniture.category %><br>
              Status: <%= Booking.text_wkf_step(status) %><br>
            </div>
            <div class="listing-actions text-center">
                <%= link_to "Show listing", listing_path(listing), class: "btn btn-default"  %>
                <%= link_to "Edit", edit_listing_path(listing), class: "btn btn-default"  %>
                <%  if status == "P" %>
                  <%= link_to "Approve", approve_listing_path(listing), class: "btn btn-default" %>
                  <%= link_to "Reject", reject_listing_path(listing), class: "btn btn-red", data: { confirm: "Are you sure?" }  %>
                <% end %>
                <%= link_to "Delivered", rent_listing_path(listing), class: "btn btn-default" if status == "A"%>
                <%= link_to "Finish", finish_listing_path(listing), class: "btn btn-default" if status == "T"%>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <h3>You don't have any listing on the site!</h3>
<% end %>
