<h1>Show listing</h1>
<strong>Furniture info:</strong><br>
Name: <%= @listing.furniture.name %> <br>
Description: <%= @listing.furniture.description %> <br>
Category: <%= @listing.furniture.category %>  <br> <br>
Photos: <br>
<% @listing.furniture.photos.each do |photo| %>
  <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
<% end %>
<br>
<strong>Listing info:</strong><br>
Base price: <%= @listing.base_price %>$
