<div class="padded">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-1">
      <div class="box-white">
        <h2 class="text-center"><%= @listing.furniture.name %> </h2>
        <!-- Main product image -->
        <div style="padding:  20px 0px 20px 0px; margin: 0px -20px 0px -20px;">
          <div class="slider-for" style="max-height: 400px">
            <% @listing.furniture.photos.each do |photo| %>
              <%= cl_image_tag photo.path, width: 1024, height:768, crop: :fill%>
            <% end %>
          </div>
          <!-- Product image slider -->
          <div class="slider-nav" style="margin-bottom: 0px;">
            <% @listing.furniture.photos.each do |photo| %>
              <%= cl_image_tag photo.path, width: 300, height:200, crop: :fill %>
            <% end %>
          </div>
        </div>
      </div>
      <br>
      <!-- Product description -->
      <div class="box-white text-center">
        <strong>Description</strong> <br>
        <%= @listing.furniture.description %> <br> <br>
      </div>
      <br>
      <div class="box-white text-center">
        <strong>Ambiances</strong> <br>
        <% @listing.ambiances.each do |ambiance| %>
          <div class="btn btn-default">  <%=ambiance.name%></div>
        <%end%>
      </div>
      <br>
      <!-- Product in similar ambiance -->
      <div class="box-white">
        <strong><p class="text-center"> See also in the same ambiances </p></strong>
        <div class="autoplay" style= "padding:  20px 0px 20px 0px; margin: 0px -20px 0px -20px;">
        <% find_similar(@listing).each do |l| %>
          <%= link_to listing_path(l) do %>
            <%= cl_image_tag l.furniture.photos.first.path, width: 300, height:200, crop: :fill %>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4 text-center" >
      <div class="box-white">
        <p class="text-center">LOCATION</p>
        <div class="product-main-info" id="location" style="font-size: 20px"><%= @listing.address.city + ', ' + @listing.address.country %></div>
        <div class="product-info-separation"></div>
        <p class="text-center">BASE PRICE</p>
        <div class="product-main-info product-base-price"><%= @listing.base_price.round %>$</div>  <small>per month</small>
        <div class="product-info-separation"></div>
        <p class="text-center">RENTAL DURATION</p>

        <div class="btn-group">
          <% Listing::PERIOD_OPTIONS.each do |duration|
            next if duration < @listing.period_min || duration > @listing.period_max%>
            <button class="btn-round-bordered text-center btn-duration" id="<%= duration %>"><%= duration %>m</button>
          <% end %>
        </div>

        <div class="product-info-separation"></div>
        <p class="text-center">ACTUAL PRICE</p>
        <div class="product-main-info" id="actual_price"><p style="font-size: 14px;">Select duration to see price</p></div>  <small>per month</small>
        <div class="product-info-separation"></div>
        <p class="text-center">DEPOSIT</p>
        <div class="product-main-info"><%= @listing.deposit %>$</div>  <small>refundable</small>
        <div class="product-info-separation"></div>
<!--         <p class="text-center">RENTAL DURATION</p>
        <small>from</small><div class="product-main-info"><%= @listing.period_min %></div> <small> to </small><div class="product-main-info"> <%#= @listing.period_max %></div><small> months</small>
        <div class="product-info-separation"></div> -->
        <p class="text-center">STATUS</p>

        <% booking = Booking.where(listing_id: @listing.id) %>
        <div class="product-main-info" style="font-size: 18px">
        <%= @listing.bookings.first.nil? ? 'Available' : Booking.text_wkf_step(@listing.bookings.first.workflow_step)  %></Strong> </p>
        </div>
        <% if current_user != Listing.find(params[:id]).user %>
          <%= link_to 'Ask a question', new_to_path(@listing.user), class: 'btn btn-block btn-default' %>
          <%= link_to 'Book Furniture', new_listing_booking_path(@listing.id), class: "btn btn-block btn-primary"  %>
        <% end %>
        <% if booking.nil? %>
          <%= link_to "Approve", listing_path(listing), class: "btn btn-default"  %>
          <%= link_to "Edit", edit_listing_path(listing), class: "btn btn-default"  %>
        <% end %>
      </div>
      <div id="map" style="height: 300px"></div>
    </div>
  </div>
</div>





<% content_for(:after_js) do %>
  <!-- Map builder -->
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>

  <!-- Duration/price choice -->
  <%= javascript_tag do %>
    $('.btn-duration').click(function(e) {
      $('.btn-duration.target').removeClass('target');
      $(this).addClass('target');
      selectedPeriod= '';
      selectedPeriod=$(this).attr('id');
      basePrice = parseInt(<%= @listing.base_price.round %>);
      <!--$('#actual_price').html(base_price * price_factor + '$');-->
      if (selectedPeriod == 3) {$('#actual_price').html(basePrice + '$');}
      if (selectedPeriod == 6) {$('#actual_price').html(basePrice * 0.95 + '$');}
      if (selectedPeriod == 9) {$('#actual_price').html(basePrice * 0.9 + '$');}
      if (selectedPeriod == 12) {$('#actual_price').html(basePrice * 0.85 + '$');}
      if (selectedPeriod == 18) {$('#actual_price').html(basePrice * 0.80 + '$');}
      if (selectedPeriod == 24) {$('#actual_price').html(basePrice * 0.75 + '$');}
    });
  <% end %>

  <!-- Slick slideshows -->
  <%= javascript_tag do %>
    $(document).ready(function(){
      $('.slider-for').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        fade: true,
        asNavFor: '.slider-nav'
      });
      $('.slider-nav').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        asNavFor: '.slider-for',
        dots: true,
        centerMode: true,
        focusOnSelect: true
      });
      $('.autoplay').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
      });
    });
  <% end %>
<% end %>
