<div class="padded">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-1">
      <div class="box-white">
        <h2 class="text-center"><%= @listing.furniture.name %> </h2>
        <!-- Main product image -->
        <div style="padding:  20px 0px 20px 0px; margin: 0px -20px 0px -20px;">
          <div class="slider-for" style="max-height: 400px">
            <% @listing.furniture.photos.each do |photo| %>
              <%= cl_image_tag photo.path, width: 1024, height:768, crop: :fill%>
            <% end %>
          </div>
          <!-- Product image slider -->
          <div class="slider-nav" style="margin-bottom: 0px;">
            <% @listing.furniture.photos.each do |photo| %>
              <%= cl_image_tag photo.path, width: 300, height:200, crop: :fill %>
            <% end %>
          </div>
        </div>
      </div>
      <br>
      <!-- Product description -->
      <div class="box-white text-center">
        <strong>Description</strong> <br>
        <%= @listing.furniture.description %> <br> <br>
      </div>
      <br>
      <div class="box-white text-center">
        <strong>Ambiances</strong> <br>
        <% @listing.ambiances.each do |ambiance| %>
          <div class="btn btn-default">  <%=ambiance.name%></div>
        <%end%>
      </div>
      <br>
      <!-- Product in similar ambiance -->
      <div class="box-white">
        <strong><p class="text-center"> See also in the same ambiances </p></strong>
        <div class="autoplay" style= "padding:  20px 0px 20px 0px; margin: 0px -20px 0px -20px;">
        <% find_similar(@listing).each do |l| %>
          <%= cl_image_tag l.furniture.photos.first.path, width: 300, height:200, crop: :fill %>
        <% end %>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4 text-center" >
      <div class="box-white">
        <p class="text-center">BASE PRICE</p>
        <div class="product-main-info product-base-price"><%= @listing.base_price.round %>$</div>  <small>per month</small>
        <div class="product-info-separation"></div>
        <p class="text-center">RENTAL DURATION</p>
        <% Listing::PERIOD_OPTIONS.each do |duration|
          next if duration < @listing.period_min || duration > @listing.period_max%>
          <button class="btn-round-bordered text-center btn-duration"><%= duration %>m</button>
        <% end %>
        <div class="product-info-separation"></div>
        <p class="text-center">ACTUAL PRICE</p>
        <div class="product-main-info"><%= @listing.base_price.round %>$</div>  <small>per month</small>
        <div class="product-info-separation"></div>
        <p class="text-center">DEPOSIT</p>
        <div class="product-main-info"><%= @listing.deposit %>$</div>  <small>refundable</small>
        <div class="product-info-separation"></div>
        <p class="text-center">RENTAL DURATION</p>
        <small>from</small><div class="product-main-info"><%= @listing.period_min %></div> <small> to </small><div class="product-main-info"><%= @listing.period_max %></div>
        <div class="product-info-separation"></div>
        <p class="text-center">STATUS</p>

        <% booking = Booking.where(listing_id: @listing.id) %>
        <div class="product-main-info" style="font-size: 18px">
        <%= @listing.bookings.first.nil? ? 'Available' : Booking.text_wkf_step(@listing.bookings.first.workflow_step)  %></Strong> </p>
        </div>
        <%= link_to 'Ask a question', new_message_path, class: 'btn btn-block btn-primary' %>
        <%= link_to 'Book Furniture', new_listing_booking_path(@listing.id), class: "btn btn-block btn-primary"  %>
      </div>

    <% if booking.nil? %>
      <%= link_to "Approve", listing_path(listing), class: "btn btn-default"  %>
      <%= link_to "Edit", edit_listing_path(listing), class: "btn btn-default"  %>
    <% end %>
      <div id="map" style="height: 300px">

      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
  <%= javascript_tag do %>
    $('.btn-duration').click(function(e) {
      $('.btn-duration.active').removeClass('active');
      $(this).addClass('active');
    });
  <% end %>
  <%= javascript_tag do %>
    $(document).ready(function(){
      $('.slider-for').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        fade: true,
        asNavFor: '.slider-nav'
      });
      $('.slider-nav').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        asNavFor: '.slider-for',
        dots: true,
        centerMode: true,
        focusOnSelect: true
      });
      $('.autoplay').slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 2000,
});
    });
  <% end %>
<% end %>
