<li class="list-group-item clearfix">
  <div class="row">
    <div class="col-sm-2 text-center">
      <p><%= render 'conversations/participants', conversation: conversation %></p>
    </div>
    <div class="col-sm-10">
    <%= link_to conversation.subject, conversation_path(conversation) %>

    <div class="btn-group-vertical pull-right">
      <% if conversation.is_trashed?(current_user) %>
        <%= link_to restore_conversation_path(conversation), method: :post do %>
          <i class="fa fa-inbox"></i>
        <% end %>
      <% else %>
        <%= link_to conversation_path(conversation), method: :delete, data: {confirm: 'Are you sure?'}  do %>
         <i class="fa fa-trash-o"></i>
        <% end %>
      <% end %>

        <% if conversation.is_unread?(current_user) %>
          <br> <%= link_to mark_as_read_conversation_path(conversation), method: :post do %>
            <i class="fa fa-check"></i>
          <% end %>
      <% end %>
    </div>



    <p><%= conversation.last_message.body %>
      <small>(<span class="text-muted"><%= conversation.last_message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></span>)</small></p>

    </div>
  </div>
</li>
