<%= simple_form_for [@listing, @booking] do |f| %>
<br>
<p><strong>Name: </strong><%= @booking.listing.furniture.name %></p>
<br>
<p><strong>Description: </strong><%= @booking.listing.furniture.description %></p>
<br>
<p><strong>Base Price: </strong><%= @booking.listing.base_price %></p>
<br>

  <%= f.error_notification %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.button :submit, class: "btn btn-block btn-green" %>
<% end %>

