<%= simple_form_for [@listing, @booking] do |f| %>
  <%= f.error_notification %>
  <p class="text-center">START DATE</p>
  <%= f.input :start_date, as: :date_picker, label: false, placeholder: 'dd/mm/yyyy', required: true  %>
  <%= f.input :end_date, as: :date_picker, as: :hidden, placeholder: 'dd/mm/yyyy'  %>
  <%= f.input :price, as: :hidden %>
  <%= f.input :duration, as: :hidden %>
  <div id="end-date-div" class="hidden">
    <div class="product-info-separation"></div>
    <p class="text-center">END DATE</p>
    <div class="text-center"><div class="product-main-info" id="end_date"></div></div>
  </div>
  <br>
  <div id="delivery-info">
    <%= f.simple_fields_for :delivery do |ff| %>
      <div class="product-info-separation"></div>
      <p class="text-center">DELIVERY METHOD</p>
      <%= ff.input :partner_delivery, label: 'Partner delivery', as: :select, include_blank: false, label: false, :collection => [['I will arrange my delivery','false'],['I choose EasyMoveis partner delivery','true']] %>
      <p class="text-center" id="delivery-description">If you choose partner delivery, An EasyMoveis partner will deliver your furniture to your door for </p>
      <small><p class="text-center"><i>See below for details</i></p></small>
      <%= ff.input :delivery_price, as: :hidden %>
      <br>
    <% end %>
  </div>

  <%= f.button :submit, class: "btn btn-block btn-primary" %>
<% end %>

