<h1>New Booking</h1>
<br>

<%= simple_form_for [@listing, @booking] do |f| %>
  <%= f.error_notification %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.button :submit, class: "btn btn-block btn-green" %>
<% end %>

