<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="box-white box-margin-height">
      <h2 class="text-center" style="margin-top: 5px;">Edit booking</h2>
        <%= render 'form' %> <br>
        <%= link_to 'Back', :back, class: "btn btn-default btn-block" %>
      </div>
    </div>
  </div>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function(){
      $('#delivery-info').hide();
    });
  <% end %>

  <%= javascript_tag do %>
    $('#booking_start_date').focusout(function() {
      var a = $('#booking_start_date').val();
      var parts = a.split("/");
      var startDate = new Date(parseInt(parts[2], 10),
                        parseInt(parts[1], 10) - 1,
                        parseInt(parts[0], 10));
      var endDate = new Date(new Date(startDate).setMonth(startDate.getMonth()+ <%= @duration %>));

      var dd = endDate.getDate();
      var mm = endDate.getMonth()+1;
      var yyyy = endDate.getFullYear();

      if (dd < 10) {
          dd = '0' + dd;
      }
      if (mm < 10){
          mm = '0' + mm
      }
      var endDate = dd+'/'+mm+'/'+yyyy;
      $('#booking_end_date').val(endDate);
      $("#end-date-div").removeClass('hidden');
      $("#end_date").html(endDate);
    });
  <% end %>

<% end %>
