<h2 class="text-center">My Bookings</h2>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <ul class="nav nav-pills nav-justified">
        <li id="bookings-pending" role="presentation"><%= link_to 'New', bookings_path(option: 'pending') %></li>
        <li id="bookings-waiting" role="presentation"><%= link_to 'Waiting Delivery', bookings_path(option: 'waiting') %></li>
        <li id="bookings-rented" role="presentation"><%= link_to 'Rented', bookings_path(option: 'rented') %></li>
        <li id="bookings-finished" role="presentation"><%= link_to 'Finished', bookings_path(option: 'finished') %></li>
      </ul>

      <% if @bookings %>
        <% @bookings.each do |booking| %>
          <div class="listing-line">
            <div class="listing-image">
              <%= cl_image_tag booking.listing.furniture.photos.first.path, width: 250, height: 150, crop: :fill %>
            </div>
            <div class="listing-content text-center">
              <strong><%= booking.listing.furniture.name %> </strong> <br>
              Category: <%= booking.listing.furniture.category %> <br>
              Description; <%= booking.listing.furniture.description %><br>
              Start-date: <%= booking.start_date %><br>
              End-date: <%= booking.end_date %><br>
              Status: <%= Booking.text_wkf_step(booking.workflow_step) %><br>
            </div>
            <div class="listing-actions text-center">
            </div>
            <div class="listing-actions text-center">
              <%= link_to "Show booking", listing_booking_path(booking.listing_id,booking.id), class: "btn btn-default"  %>
              <% if booking.workflow_step == "P" || booking.workflow_step == "R"%>
                <%= link_to "Edit", edit_listing_booking_path(booking.listing_id,booking.id), class: "btn btn-default"  %>
                <%= link_to "Delete", booking_path(booking.id), method: :delete, class: "btn btn-red", data: { confirm: 'Are you sure?' }   %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <h3>You don't have any new booking!</h3>
      <% end %>
    <br>
      <%= link_to 'Back', :back %> |
    </div>
  </div>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
  <% display_option = params[:option] || 'pending' %>
  $('#bookings-<%= "#{display_option}" %>').addClass('active');
  <% end %>
<% end %>

