
<div class='container'>
  <h1><strong>Your's Booking List</strong></h1>

  <% if @bookings %>
      <% @bookings.each do |booking| %>
        <div>
          <strong><%= booking.listing.furniture.name %> <br>
           <%= booking.listing.furniture.description %></strong> <br>
          Start-date: <%= booking.start_date %><br>
          End-date: <%= booking.end_date %><br>
          Status: <%= booking.workflow_step %><br>
        </div>
      <% end %>
    </div>
  <% end %>
  <br>

  <%= link_to 'Back', root_path %> |
</div>

