<% unless current_user.address %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="box-white box-margin-height">
        <h2 class="text-center" style="margin-top: 5px;">Please create an address to perform a booking</h2>
          <%= link_to "New address", new_address_path, class: "btn btn-block btn-default" %> <br>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="box-white box-margin-height">
          <h2 class="text-center" style="margin-top: 5px;">New booking</h2>
          <%= render 'form' %> <br>
          <%= link_to 'Back', root_path, class: "btn btn-default btn-block" %> <br>
        </div>
        <div class="box-white box-margin-height">
          <p class="text-center">APPROXIMATE DISTANCE</p>
          <div class="product-main-info text-center" id="delivery-length"></div>
          <div class="product-info-separation"></div>
          <p class="text-center">EASYMOVEIS DELIVERY PRICE</p>
          <div class="product-main-info text-center" id="delivery-price"></div>
          <div class="product-info-separation"></div>
          <div id="map" style="height: 300px"></div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function(){
      var directionsDisplay;
      var directionsService = new google.maps.DirectionsService();

      directionsDisplay = new google.maps.DirectionsRenderer();
      var mapCenter = new google.maps.LatLng(<%= @listing.address.latitude %>, <%= @listing.address.longitude %>);
      var mapOptions = {
        zoom:11,
        center: mapCenter
      }
      map = new google.maps.Map(document.getElementById("map"), mapOptions);
      directionsDisplay.setMap(map);

      var startAddress = new google.maps.LatLng(<%= @listing.address.latitude %>, <%= @listing.address.longitude %>);
      var endAddress = new google.maps.LatLng(<%= current_user.address.latitude %>, <%= current_user.address.longitude %>);
      var request = {
        origin: startAddress,
        destination: endAddress,
        travelMode: google.maps.TravelMode.DRIVING,
      }
      directionsService.route(request, function(result, status) {
        if (status == google.maps.DirectionsStatus.OK) {
          var routeLength = result.routes[0].legs[0].distance;
          directionsDisplay.setDirections(result);
          $('#delivery-length').append(routeLength.text);
          $('#delivery-price').append((routeLength.value / 100)+'$');
        }
      });


    });
    <% end %>
  <% end %>
