<% unless current_user.address %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="box-white box-margin-height">
        <h2 class="text-center" style="margin-top: 5px;">Please create an address to perform a booking</h2>
          <%= link_to "New address", new_address_path, class: "btn btn-block btn-default" %> <br>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="box-white box-margin-height">
          <h3 class="text-center" style="margin-top: 5px;">Book <%= @booking.listing.furniture.name %></h3>
          <div class="product-info-separation"></div>
          <p class="text-center">DEPOSIT</p>
          <div class="text-center"><div class="product-main-info" id="duration"><%= @booking.listing.deposit %>$</div> <small>refundable</small></div>
          <div class="product-info-separation"></div>
          <p class="text-center">DURATION</p>
          <div class="text-center"><div class="product-main-info" id="duration"><%= @duration %></div> <small>months</small></div>
          <div class="product-info-separation"></div>
          <p class="text-center">PRICE PER MONTH</p>
          <div class="text-center"><div class="product-main-info" id="duration"><%= @price %>$</div>   <small>per month</small></div>
          <div class="product-info-separation"></div>

          <%= render 'form' %> <br>
          <%= link_to 'Back', :back, class: "btn btn-clear btn-block" %> <br>
        </div>
        <div class="box-white box-margin-height">
          <p class="text-center">APPROXIMATE DISTANCE</p>
          <div class="text-center"><div class="product-main-info" id="delivery-length"></div></div>
          <div class="product-info-separation"></div>
          <p class="text-center">EASYMOVEIS DELIVERY PRICE</p>
          <div class="text-center"><div class="product-main-info" id="delivery-price"></div></div>
          <div class="product-info-separation"></div>
          <div id="map" style="height: 300px"></div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% content_for(:after_js) do %>

  <!-- Auto end-date calculation -->
  <%= javascript_tag do %>
    $('#booking_start_date').focusout(function() {
      var a = $('#booking_start_date').val();
      var parts = a.split("/");
      var startDate = new Date(parseInt(parts[2], 10),
                        parseInt(parts[1], 10) - 1,
                        parseInt(parts[0], 10));
      var endDate = new Date(new Date(startDate).setMonth(startDate.getMonth()+ <%= @duration %>));

      var dd = endDate.getDate();
      var mm = endDate.getMonth()+1;
      var yyyy = endDate.getFullYear();

      if (dd < 10) {
          dd = '0' + dd;
      }
      if (mm < 10){
          mm = '0' + mm
      }
      var endDate = dd+'/'+mm+'/'+yyyy;
      $('#booking_end_date').val(endDate);
      $("#end-date-div").removeClass('hidden');
      $("#end_date").html(endDate);
    });
  <% end %>

  <!-- Add price and duration to form -->
  <%= javascript_tag do %>
    $(document).ready(function(){
      $('#booking_price').val(<%= @price %>);
      $('#booking_duration').val(<%= @duration %>);
    });
  <% end %>

  <!-- Itinerary calculation -->
  <%= javascript_tag do %>
    $(document).ready(function(){
      var directionsDisplay;
      var directionsService = new google.maps.DirectionsService();

      directionsDisplay = new google.maps.DirectionsRenderer();
      var mapCenter = new google.maps.LatLng(<%= @listing.address.latitude %>, <%= @listing.address.longitude %>);
      var mapOptions = {
        zoom:11,
        center: mapCenter
      }
      map = new google.maps.Map(document.getElementById("map"), mapOptions);
      directionsDisplay.setMap(map);

      var startAddress = new google.maps.LatLng(<%= @listing.address.latitude %>, <%= @listing.address.longitude %>);
      var endAddress = new google.maps.LatLng(<%= current_user.address.latitude %>, <%= current_user.address.longitude %>);
      var request = {
        origin: startAddress,
        destination: endAddress,
        travelMode: google.maps.TravelMode.DRIVING,
      }
      directionsService.route(request, function(result, status) {
        if (status == google.maps.DirectionsStatus.OK) {
          var routeLength = result.routes[0].legs[0].distance;
          directionsDisplay.setDirections(result);
          $('#delivery-length').append(routeLength.text);
          var deliveryPrice = Math.round(routeLength.value / 100);
          $('#delivery-price').append(deliveryPrice+'$');
          $('#delivery-description').append(deliveryPrice+'$');
          $('#booking_delivery_attributes_delivery_price').val(deliveryPrice);
        }
      });


    });
    <% end %>
  <% end %>
